*.pyc
*__pycache__
apps/*/migrations/*
!apps/*/migrations/__init__.py
secrets.json
secrets_servidor.json
apps/media/*
!apps/media/tmp
!apps/media/iconos
apps/media/tmp/*
!apps/media/tmp/init.txt
.idea/
*.bash