{% extends "base.html" %}

{% block title %}Crear Categoria{% endblock title %}

{% block content %}
    <!-- <form action="{% url 'inventory:category_create' %} " method="post">
        {% csrf_token %}
        <input type="text" value="{{ request.user.id }}" id="id_user_created" name="user_created">
        <input type="text" value="{{ request.user.id }}" id="id_user_modified" name="user_modified">
        {{ form }}
        <button type="submit" class="btn btn-primary">Crear</button>
    </form> -->

<form method="POST" class="form-inline">
    {% csrf_token %}
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center ">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            Nueva Categoria</div>
                        <div class="h5 font-weight-bold text-gray-800">
                            <div class="row mb-3">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="id_category">Categoria</label>
                                        {{ form.category }}
                                    </div>
                                </div>
                                <div class="col-9">
                                    <div class="form-group">
                                        <label for="id_description">Descripcion</label>
                                        <input type="text" class="form-control w-100" id="id_description" name="description">
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <p class="w-100 text-center">
                                            <label for="id_state">Estado</label>
                                            <input type="checkbox" name="state" id="id_state" class="form-control w-100 text-center" checked>
                                        </p>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col">
                    <button class="btn btn-primary"><span class="fa fa-save"></span> Actualizar</button>
                    <a href="{% url 'inventory:category_list' %}" class="btn btn-success btn-circle"><span class="fa fa-undo"></span></a>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock content %}
    