
{% extends 'base.html' %}
{% block title %}Unidad de Medida{% endblock title %}

{% block content %}
<div class="container">
    <div class="card shadow mb-4">
        <div
            class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Listado de Unidad de Medida</h6>
            <div class="dropdown no-arrow">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                    aria-labelledby="dropdownMenuLink">
                    <div class="dropdown-header">Acciones</div>
                    <a class="dropdown-item" href="{% url 'inventory:unitmeter_create' %}"><span class="fa fa-calendar-plus"></span> Nueva</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            
            {% if not obj %}
                <div class="alert alert-danger" role="alert">
                    No se encontraron registros
                </div>
            {% else %}
                <table class="table table-striped table-hover" id="unitmeterTable" width="100%" align="center" style="text-align: center;">
                    <thead>
                        <th>Descripcion</th>
                        <th>Estado</th>
                        <th>F. Creado</th>
                        <th>F. Modificado</th>
                        <th class="all">Acciones</th>
                    </thead>
                    <tbody>
                        {% for item in obj %}
                            <tr>
                                <td>{{item.description}}</td>
                                <td style="text-align: center;">{% if item.state %}<span class="badge badge-success p-2">Activo</span>{% else %}<span class="badge badge-danger p-2">Desactivado</span>{% endif %}</td>
                                <td>{{item.create_date | date:"d/m/Y H:i:s"}}</td>
                                <td>{{item.modified_date | date:"d/m/Y H:i:s"}}</td>
                                <td>
                                    <a href="{% url 'inventory:unitmeter_update' item.id %}" role="button" class="btn btn-warning btn-circle"><i class="far fa-edit"></i></a>
                                    <a href="{% url 'inventory:unitmeter_toggle' item.id %}" role="button" class="btn {% if item.state %}btn-danger{% else %}btn-success{% endif %} btn-circle">{% if item.state %}<i class="far fa-thumbs-down"></i>{% else %}<i class="far fa-thumbs-up"></i>{% endif %}</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
                

        </div>
    </div>
</div>
    
{% endblock content %}
    

{% block js %}
    <script>
        $(document).ready(function() {
            $('#unitmeterTable').DataTable({
                "responsive": true,
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.20/i18n/Spanish.json"
                },
            });

        });
    </script>
{% endblock js %}
    