{% extends 'base.html' %}
{% block title %}Ver Post{% endblock title %}
{% block content %}
  
<div class="container mb-5">
    <div class="row">
        {% include "components/post_card.html" %}
    </div>
</div>

{% endblock content %}

{% block js %}
  <script>
    function togglePost(id){
        $.ajax({
            type: 'GET',
            url: '{% url "social:toggle" %}',
            data: {
                'pk': id
            },
            dataType: 'json',
            success: function(data){
                setTimeout(function(){
                    location.reload();
                }, 100);
            }
        });
    }
  </script>
{% endblock js %}