

.bg-login-image{
    background-color: #4e73dfba !important;
}

.bg-register-image{
    background-color: #4e73dfba !important;
} 

label.custom-file-label::after{
    content: "Buscar";
}

.image-deactivate{
    position: relative;
}
.image-deactivate::before{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    content: "Post desactivado";
    font-size: 3rem;
    font-weight: bolder;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0,0,0,0.5); */
    /* background: linear-gradient(to top, rgba(127, 127, 213, 0.7), rgba(134, 168, 231, 0.7), rgba(145, 234, 228, 0.7));  */
    /* background: linear-gradient(to top, #833ab4bd, #fd1d1dbd, #fcb045bd); */
    /* background: linear-gradient(to bottom, #24c6dcbd, #514a9dbd);  */
    background: linear-gradient(180deg,#4e73dfbd 10%,#224abebd 100%);


}

    /* font: bold 6.5em/2em monospace; */