

.bg-login-image{
    background-color: var(--primary-color) !important;
}

.bg-register-image{
    background-color: var(--primary-color) !important;
} 

label.custom-file-label::after{
    content: "Buscar";
}

.image-deactivate, .image-deactivate-notext {
    position: relative;
}
.image-deactivate::before, .image-deactivate-notext::before {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    content: "Post desactivado";
    font-size: 2rem;
    font-weight: bolder;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    /* background-color: rgba(0,0,0,0.5); */
    /* background: linear-gradient(to top, rgba(127, 127, 213, 0.7), rgba(134, 168, 231, 0.7), rgba(145, 234, 228, 0.7));  */
    /* background: linear-gradient(to top, #833ab4bd, #fd1d1dbd, #fcb045bd); */
    /* background: linear-gradient(to bottom, #24c6dcbd, #514a9dbd);  */
    background: linear-gradient(180deg,var(--primary-color) 10%,var(--secondary-color) 100%)
}
/*  */
.image-deactivate-notext::before{
    content: "";
}

.background-rainbow{
    background-image: linear-gradient(
        to right,
        #ff4400b5,
        #ffa500b5,
        #ffd700b5,
        #90ee90b5,
        #00ffffb5,
        #1e90ffb5,
        #9370d8b5,
        #ff69b4b5,
        #ff4500b5);
    background-size: 110vw;
    animation: sliding 30s linear infinite;
}


@keyframes sliding {
    to {
        background-position: -250vw;
    }
}
/* https://www.codegrepper.com/code-examples/css/frameworks/materialize/%40media+query+in+css+sm */
/* Portrait phones and smaller */
@media (max-width: 480px) {
    .image-deactivate::before, .image-deactivate-notext::before {
        font-size: 1.4rem
    }
}
.user-thumb {
    position: relative;
    display: inline-block;
    background: #e9e9e9;
    border-radius: 50%;
  }
  
  .user-thumb--edit {
    position: relative;
    margin-bottom: 1rem;
  }
  
  .custom-file {
    margin: 0;
    height: auto;
  }
  
  .custom-file__input {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    width: 1px;
    height: 1px;
  }
  
  .custom-file__label {
    cursor: pointer;
    border: 0;
    text-align: center;
    font-weight: 500;
    font-size: 1rem;
    display: block;
    margin: 0;
    border-radius: 50%;
    padding: 0;
    background: transparent;
    position: relative;
    overflow: hidden;
  }
  
  .user-thumb--edit .custom-file::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: center;
    transition: all 0.15s ease-in-out;
    z-index: 20;
    background: var(--primary-color);
    object-fit: cover;
    background-size: 1.4rem auto;
    width: 4.2rem;
    height: 4.2rem;
    border-radius: 100%;
    box-shadow: 0px 6px 6px -3px rgb(0 0 0 / 20%), 0px 10px 14px 1px rgb(0 0 0 / 14%), 0px 4px 18px 3px rgb(0 0 0 / 12%);
  }