{% extends 'base.html' %}
{% load humanize %}

{% block title %}Inicio{% endblock title %}
{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="card shadow h-100 py-2" style="background: linear-gradient(to left, #11998e, #38ef7d);">
                <div class="card-body">
                    <div class="row no-gutters align-items-center justify-content-center">
                        <div class="col-auto text-center text-white">
                            <h5 class="" style="font-weight: bolder;">CATEGORIAS</h5>
                            <i class="fas fa-database fa-2x font-weight-bold"></i> <b>CANTIDAD TOTAL</b> {{ categorias }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card shadow h-100 py-2" style="background: linear-gradient(230deg, #fc5286, #fbaaa2);">
                <div class="card-body">
                    <div class="row no-gutters align-items-center justify-content-center">
                        <div class="col-auto text-center text-white">
                            <h5 class="" style="font-weight: bolder;">SUB CATEGORIAS</h5>
                            <i class="fas fa-database fa-2x font-weight-bold"></i> <b>CANTIDAD TOTAL</b> {{ sub_categorias }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card shadow h-100 py-2" style="background: linear-gradient(230deg, #0e4cfd, #6a8eff);">
                <div class="card-body">
                    <div class="row no-gutters align-items-center justify-content-center">
                        <div class="col-auto text-center text-white">
                            <h5 class="" style="font-weight: bolder;">PRODUCTOS</h5>
                            <i class="fas fa-database fa-2x font-weight-bold"></i> <b>CANTIDAD TOTAL</b> {{ productos }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card shadow h-100 py-2" style="background: linear-gradient(230deg, #ffc480, #ff763b);">
                <div class="card-body">
                    <div class="row no-gutters align-items-center justify-content-center">
                        <div class="col-auto text-center text-white">
                            <h5 class="" style="font-weight: bolder;">PROVEDORES</h5>
                            <i class="fas fa-database fa-2x font-weight-bold"></i> <b>CANTIDAD TOTAL</b> {{ provedores }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card shadow h-100 py-2" style="background: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);">
                <div class="card-body">
                    <div class="row no-gutters align-items-center justify-content-center">
                        <div class="col-auto text-center text-white">
                            <h5 class="" style="font-weight: bolder;">TAREAS</h5>
                            <i class="fas fa-database fa-2x font-weight-bold"></i> <b>CANTIDAD TOTAL</b> {{ tareas }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}