{% extends "base.html" %}

{% block title %}@{{ request.user.username}}{% endblock title %}

{% block content %}


<div class="container">
  <form action="{% url 'users:settings' %}" method="post" enctype="multipart/form-data" class="dropzone" id="my-form">
    {% csrf_token %}
    <div class="main-body">
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card shadow">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <div class="user-thumb user-thumb--edit">
                      <div class="custom-file">
                        <input class="custom-file__input " id="id_picture" accept="image/*" name="picture" type="file">
                        <label class="custom-file__label bg-success " for="id_picture">
                          <img alt="Imagen perfil" width="150" style="width: 150px; height: 150px; object-fit: cover;" class="thumb--lg rounded-circle" src="{% if 'default' in request.user.profile.picture.url %}https://t4.ftcdn.net/jpg/00/64/67/63/360_F_64676383_LdbmhiNM6Ypzb3FM4PPuFP9rHe7ri8Ju.webp
                          {% else %}{{ request.user.profile.picture.url }}
                          {% endif %}">
                        </label>
                      </div>
                    </div>
                    <div class="mt-3">
                      <h4>{{ request.user.get_full_name }}</h4>
                      <p class="text-secondary mb-1">{{ request.user.profile.organization }}</p>
                      <p class="text-muted font-size-sm">{{ request.user.profile.location }}</p>
                      <button type="submit" class="btn btn-success btn-lg">GUARDAR CAMBIOS</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mt-3 shadow">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">                    
                    <div class="row">
                      <div class="col-sm-5">
                        <label for="id_website" class="mb-0" style="line-height: 38px;"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe mr-2 icon-inline"><circle cx="12" cy="12" r="10"></circle><line x1="2" y1="12" x2="22" y2="12"></line><path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path></svg>Website</label>
                      </div>
                      <div class="col-sm-7">
                        <input type="url" id="id_website" name="website" 
                        class="form-control {% if form.website.errors %} is-invalid {% endif %}" 
                        value="{% if form.errors %}{{ form.website.value }}{% else %}{{ request.user.profile.website }}{% endif %}">
                      </div>
                    </div>                    
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">                    
                    <div class="row">
                      <div class="col-sm-5">
                        <label for="id_twitter" class="mb-0" style="line-height: 38px;"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-twitter mr-2 icon-inline text-info"><path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path></svg>Twitter</label>                      
                      </div>
                      <div class="col-sm-7">
                        <input type="text" id="id_twitter" name="twitter"
                        class="form-control {% if form.twitter.errors %} is-invalid {% endif %}" 
                        value="{% if form.errors %}{{ form.twitter.value }}{% else %}{{ request.user.profile.twitter }}{% endif %}">
                      </div>
                    </div>                    
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">                    
                    <div class="row">
                      <div class="col-sm-5">
                        <label for="id_instagram" class="mb-0" style="line-height: 38px;"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-instagram mr-2 icon-inline text-danger"><rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line></svg>Instagram</label>                      
                      </div>
                      <div class="col-sm-7">
                        <input type="text" id="id_instagram" name="instagram"
                        class="form-control {% if form.instagram.errors %} is-invalid {% endif %}" 
                        value="{% if form.errors %}{{ form.instagram.value }}{% else %}{{ request.user.profile.instagram }}{% endif %}">
                      </div>
                    </div>                    
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">                    
                    <div class="row">
                      <div class="col-sm-5">
                        <label for="id_facebook" class="mb-0" style="line-height: 38px;"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-facebook mr-2 icon-inline text-primary"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path></svg>Facebook</label>                      
                      </div>
                      <div class="col-sm-7">
                        <input type="text" id="id_facebook" name="facebook" 
                        class="form-control {% if form.facebook.errors %} is-invalid {% endif %}" 
                        value="{% if form.errors %}{{ form.facebook.value }}{% else %}{{ request.user.profile.facebook }}{% endif %}">
                      </div>
                    </div>                    
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card mb-3 shadow">
                <div class="card-body">
                  <div class="row">
                      <div class="col-sm-2">
                          <label for="id_phone" class="mb-0" style="line-height: 38px;">Telefono</label>
                      </div>
                      <div class="col-sm-4 text-secondary">
                          <input type="text" id="id_phone" name="phone" maxlength="20"
                          class="form-control{% if form.phone.errors %}is-invalid{% endif %}" 
                          value="{% if form.errors %}{{ form.phone.value }}{% else %}{{ request.user.profile.phone }}{% endif %}">
                      </div>
                      <div class="col-sm-2">
                        <label for="id_username" class="mb-0" style="line-height: 38px;">Genero</label>
                      </div>
                      <div class="col-sm-4 text-secondary">
                           <!-- <value="{% if form.errors %}{{ form.username.value }}{% else %}{{ request.user.profile.location }}{% endif %}"> -->
                          <select name="gender" id="id_gender"
                          class="form-control {% if form.username.errors %} is-invalid {% endif %}">
                          <option value="Masculino">Masculino</option>
                          <option value="Femenino">Femenino</option>
                          <option value="No binario" selected="">No binario</option>
                        </select>                      
                      </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-2">
                      <label for="id_bio" class="mb-0" style="line-height: 38px;">Biografia</label>
                      </div>
                      <div class="col-sm-10 text-secondary">
                          <textarea name="bio" id="id_bio" cols="22" rows="3" maxlength="500" 
                          class="form-control{% if form.bio.errors %}is-invalid{% endif %}"
                          >{% if form.errors %}{{ form.bio.value }}{% else %}{{ request.user.profile.bio }}{% endif %}</textarea>
                      </div>
                  </div>
                  <hr>
                  <div class="row">
                      <div class="col-sm-2">
                        <label for="id_organization" class="mb-0" style="line-height: 38px;">Organizacion</label>
                      </div>
                      <div class="col-sm-4 text-secondary">
                        <input type="text" id="id_organization" name="organization"
                        class="form-control {% if form.organization.errors %} is-invalid {% endif %}" 
                        value="{% if form.errors %}{{ form.organization.value }}{% else %}{{ request.user.profile.organization }}{% endif %}">
                      </div>
                      <div class="col-sm-2">
                        <label for="id_location" class="mb-0" style="line-height: 38px;">Localizacion</label>
                      </div>
                      <div class="col-sm-4 text-secondary">
                          <input type="text" id="id_location"  name="location"
                          class="form-control {% if form.location.errors %} is-invalid {% endif %}" 
                          value="{% if form.errors %}{{ form.location.value }}{% else %}{{ request.user.profile.location }}{% endif %}">
                      </div>
                  </div> 
                  <hr> 
                  <div class="row">
                    <div class="col-md-6">
                      <label for="id_color_primary">Color primario del Sistema</label>
                      <input id="id_color_primary" maxlength="7" name="color_primary" type="color" class="form-control{% if form.color_primary.errors %}is-invalid{% endif %}"
                      value="{% if form.errors %}{{ form.color_primary.value }}{% else %}{{ request.user.profile.color_primary }}{% endif %}">
                    </div>
                    <div class="col-md-6">
                      <label for="id_color_secondary">Color secundario del Sistema</label>
                      <input id="id_color_secondary" maxlength="7" name="color_secondary" type="color" class="form-control{% if form.color_secondary.errors %}is-invalid{% endif %}"
                      value="{% if form.errors %}{{ form.color_secondary.value }}{% else %}{{ request.user.profile.color_secondary }}{% endif %}">
                    </div>
                  </div>
                </div>
              </div>

              <div class="card shadow mb-3">
                <a href="#config-pro" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="config-pro">
                    <h6 class="m-0 font-weight-bold text-danger text-muted">Configuracion Avanzada (Contacta a un administrador)</h6>
                </a>
                <div class="collapse hide" id="config-pro" >          
                  <div class="card-body">
                    <div class="row">
                      <div class="col-sm-3">
                          <label for="id_username" class="mb-0" style="line-height: 38px;">Usuario</label>
                      </div>
                      <div class="col-sm-9 text-secondary">
                          <input type="text" id="id_username" disabled
                          class="form-control" 
                          value="{{ request.user.username }}">
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="id_name" class="mb-0" style="line-height: 38px;">Nombre</label>
                        </div>
                        <div class="col-sm-4 text-secondary"> 
                            <input type="text" id="id_name" disabled
                            class="form-control" 
                            value="{{ request.user.first_name }}">
                        </div>
                        <div class="col-sm-5 text-secondary"> 
                          <input type="text" id="id_username" disabled
                          class="form-control" 
                          value="{{ request.user.last_name }}">
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="id_username" class="mb-0" style="line-height: 38px;">Correo electronico</label>
                        </div>
                        <div class="col-sm-9 text-secondary"> 
                            <input type="text" id="id_username" disabled
                            class="form-control" 
                            value="{{ request.user.email }}">
                        </div>
                    </div>
                  </div>
                </div>  
              </div>
              

              <!-- <div class="row gutters-sm">
                <div class="col-sm-6 mb-3">
                  <div class="card h-100">
                    <div class="card-body">
                      <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">ventas</i>Mejores productos</h6>
                      <small>Web Design</small>
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <small>Website Markup</small>
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 72%" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <small>One Page</small>
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 89%" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <small>Mobile Template</small>
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <small>Backend API</small>
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 66%" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 mb-3">
                  <div class="card h-100">
                    <div class="card-body">
                      <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">ventas</i>Peores productos</h6>
                      <small>Web Design</small>
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <small>Website Markup</small>
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 72%" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <small>One Page</small>
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 89%" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <small>Mobile Template</small>
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <small>Backend API</small>
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 66%" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div> -->
              
            </div>
          </div>
          
        </div>
      </div>
    </form>
{% endblock %}
